/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url("https://external-preview.redd.it/WKiXx63H18ufS_4yRBcYG4VbgO6t-UxFs_TrvP3E6co.jpg?auto=webp&s=ff6ebba70f28d584ff1df14cb4c3e222e38ca054"); }
